* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.header {
    background-color: #F8494D;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    height: 150px;
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 34px;
}

.search-btn {
    background-color: #F2BFCA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    height: 34px;
}

.search-btn:hover {
    background-color: #F2D5DA;
}

.main {
    padding: 30px 0;

}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;

}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    background-color: #F2BFCA;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transform: 0, 5s;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 8px;
}

.product-title {
    font-size: 16px;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;

}

.product-price {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.product-discount {
    font-size: 14px;
    color: #01440c;
    font-weight: bold;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.hero {

    background-image: url("https://http2.mlstatic.com/D_NQ_774046-MLA99227581366_112025-OO.webp");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
}

.footer {
    background-color: rgb(215, 104, 230);
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid #F52746;
}

.footer p {
    color: #A6727E;
    font-size: 14px;
}