*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    height:200vh;
    width:200vw;
}

.div-daddy {
    height: 350px;
    width: 350px;
    background-color: aquamarine;
}

.div-daughter {
    height: 250px;
    width: 250px;
    background-color:pink;
}

.anotherdiv {
    height: 150px;
    width: 150px;
    background-color: violet;
}