*{

    margin:0;
    padding:0;
    box-sizing: border-box;
   
}

.div{
    width: 700px;
    height: 700px;
    background-color: grey;
}

@media (max-width: 600px){
div{
    background:blue;
    height:200px;
    width:200px;
}
}