@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tagesschrift', sans-serif;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: #a7634c;
}

.container-buttons{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button{
background-color: #b13a3a ;
border: none;
border-radius: 5px;
padding: 10px 20px;
color: #000000;
cursor: pointer;
font-weight: bold;
width: 110px;
}

button:hover{
    opacity: 0.8;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: center;
}

img {
    width: 100%;
    border-radius: 5px;
}

li {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 5px;
}


.item-price {
    font-weight: bold;
    color: #ffffff ;
}

.logodevburger{
    width: 300px;
    display: block;
    margin: 20px auto;
    text-align: center;
    }

    .welcome{
        text-align: center;
        font-size: 30px;
        color: #000000;
    }